@font-face {
    font-family: 'OdinFont';
    src: url('Norse-Bold.otf') format('opentype');
    font-weight: bolder;
    font-style: normal;
}

:root {
    --page-side-margin: 10vw;
    --page-top-bottom-margin: 0vh;
    --page-height: 100vh;
    --page-width: calc(100vw - calc(var(--page-side-margin) * 2));

    --image-width: calc(var(--page-width) * 0.4);

    --form-width: calc(var(--page-width) - var(--image-width));

    --odin-bar-height: calc(var(--page-height) * 0.1);

    --odin-image-height: calc(var(--odin-bar-height) * 0.8);
    --odin-image-width: calc(var(--odin-image-height) / 1.3);

    --odin-text-height: calc(var(--odin-image-height) * 0.95);

    --form-input-top-bottom-margin: 10vh;
    --form-input-area-height: calc(var(--page-height) -(var(--form-input-top-bottom-margin) * 2));
  }

body{
    margin-top: var(--page-top-bottom-margin);
    margin-bottom: var(--page-top-bottom-margin);
}

#pageArea{
    display: flex;

    margin-left: var(--page-side-margin);
    margin-right: var(--page-side-margin);
    margin-top: var(--page-top-bottom-margin);
    margin-bottom: var(--page-top-bottom-margin);

    padding: 0;

    height: var(--page-height);
    width: var(--page-width);

    border-color: red;
    border-style: solid;
}


#imageArea{
    flex-basis: auto;

    margin: 0;
    align-items: center;

    position: relative;

    height: 100%;
    width: var(--image-width);
}

#sideImage{
    height: 100%;
    width: max(100%);
    object-fit: cover;
}

#imageSource{
    position: absolute;
    bottom: 2%;
    width: 100%;
    text-align: center;
    
    color: white;
}

#odinBar{
    position: absolute;

    top: 40%;
    width: 100%;
    height: var(--odin-bar-height);

    text-align: center;

    background-color: black;
    opacity: 40%;
}

#odinImage{
    position: absolute;

    left: 25%;
    top: 10%;
    width: var(--odin-image-width);
    height: var(--odin-image-height);

    right: auto;
}

#odinText{
    position: absolute;

    left: calc(25% + var(--odin-image-width));
    top: 10%;

    width: calc(var(--image-width) - var(--odin-image-width) - 25%);
    height: var(--odin-image-height);

    font-size: var(--odin-text-height);
    color: white;
    font-family: 'OdinFont', sans-serif; 
    text-align: left;
}

#inputArea{
    flex-basis: auto;

    /*
    margin-left: var(--form-input-left-margin);

    width: 
    height: 
    */

    margin-top: var(--form-input-top-bottom-margin);
    margin-bottom: var(--form-input-top-bottom-margin);
    width: var(--form-width);
    height: var(--form-input-area-height);

    border-style: solid;
    border-color: black;
}